<style>footer{background-color:#2C2F33;}
</style>  		
<footer class="mt-5">
    <!-- BEGINING OF FOOTER -->        
<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>General Links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="/"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="https://status.mythicalbots.xyz/"><i class="fa fa-angle-double-right"></i>Status</a></li>
						<li><a href="https://docs.mythicalbots.xyz/"><i class="fa fa-angle-double-right"></i>Docs</a></li>
					</ul>
				</div>
        <div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Discord Servers</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="https://discord.gg/Ny425zH"><i class="fa fa-angle-double-right"></i>Mythical Bot List</a></li>
						<li><a href="https://servers.mythicalbots.xyz/"><i class="fa fa-angle-double-right"></i>Mythical Servers</a></li>
					</ul>
				</div>
        <div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Affiliates</h5>
					<ul class="list-unstyled quick-links">
						<li><a href=""><i class="fa fa-angle-double-right"></i>Fleco Development</a></li>
						<li><a href="https://mythicalbots.xyz/"><i class="fa fa-angle-double-right"></i>MBL</a></li>
					</ul>
				</div></div><div class="row"><div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5"><ul class="list-unstyled list-inline social text-center"><li class="list-inline-item"><a href="mailto:support@mythicalbots.xyz"><i class="fa fa-envelope"></i></a></li></ul></div> </div> <div class="row">	<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white"><p>Mythical Bot List is the botlist that enhances and makes your bot feel special.</p>	<p class="h6">© 2020 Mythical Development</a></p> <a href="//www.dmca.com/Protection/Status.aspx?ID=c4283141-2d72-41a1-b1fc-c09099256e89" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca-badge-w100-5x1-11.png?ID=c4283141-2d72-41a1-b1fc-c09099256e89"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script></div></div></div></section> </footer><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script> <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> <script src="/js/Footer.js"></script>  <script src="/js/darkmode.js"></script>  <amp-auto-ads type="adsense" data-ad-client="ca-pub-6460306045527369"></amp-auto-ads> <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/95c75768/cloudflare-static/rocket-loader.min.js" data-cf-settings="47c87adb013024d7af2bd6e3-|49" defer=""></script></html>