<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bumper | 404</title>
    <link href="https://cdn.glitch.com/0ce75f44-0720-4204-9b62-85f1028d9f7a%2FBumpBeta.png?v=1559836904460" rel="icon" type="image/x-icon">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="https://glitch.com/edit/themes/sugar.css">
    <!-- Test CSS -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://beta.mythicalbots.xyz/css/text-fonts.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.js"></script>
    <script src="https://beta.mythicalbots.xyz/JS/error.js"></script>
  </head>
  
  <body class="error-page ghost-border">
    <div class="container">
      <h1>
        <%=issue%>
      </h1>
      <h2>
        Maybe a typo? Or maybe it's been renamed?
      </h2>
      <div class="actions">
        <a href="<%= Website %>">
          <div class="">
            <h1>
              Go Back
            </h1>
          </div>
        </a>
      </div>
    </div>

    <canvas id="stars"></canvas>

  </body>
</html>